<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <%= render 'work_title', presenter: @presenter %>
    <%= render "show_actions", presenter: @presenter %>

    <div class="row work-show-columns">

      <div class="col-sm-9">
        <% if @presenter.universal_viewer? %>
          <%= render 'representative_media', presenter: @presenter, viewer: true %>
        <% end %>
        <%= render 'work_description', presenter: @presenter %>
        <%= render 'metadata', presenter: @presenter %>
        <%= render 'items', presenter: @presenter %>
        <% if @presenter.dataset_versions.length > 1 %>
          <%= render 'dataset_versions', presenter: @presenter %>
        <% end %>
      </div>
      <div class="contextual-info col-sm-3 text-center">
        <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
        <%= render 'altmetric_badge', presenter: @presenter %>
        <%# TODO: consider in future whether to add this partial back in %>
        <%#= render 'citations', presenter: @presenter %>
        <%= render 'social_media' %>
        <%= render 'relationships', presenter: @presenter %>
        <div>
          <small class="text-muted"><%= @presenter.permission_badge %> <%= @presenter.workflow.badge %></small>
        </div>
        <% if Hyrax.config.analytics? %>
          <%= link_to "Usage Stats", @presenter.stats_path, id: 'stats', class: 'btn btn-default btn-link stats-button', data: { turbolinks: false } %>
        <% end %>
      </div>
    </div>

    <%= render 'workflow_actions_widget', presenter: @presenter %>

  </div>
</div>
