<h2>Export Files</h2>

<% if @confirmed %>
  <div class="bg-success" style="padding: 1em">
    <p>
      Files are being prepared for export.
      You will receive an email notification when the job is complete.
    </p>
  </div>
    <div class='btn btn-link'>
      <%= link_to root_path do %>
          <span><br/>&laquo; <%= t("rdr.home_link")%></span>
      <% end %>
    </div>

<% else %>
  <%= form_tag controller: 'export_files', action: 'create' do %>
    <%= hidden_field_tag :email, @email %>
    <%= hidden_field_tag :repo_id, @repo_id %>
    <%= hidden_field_tag :basename, @export.basename %>
    <%= hidden_field_tag :confirmed, 1 %>
    <div class="bg-primary" style="padding: 1em">
      <p>
        You are preparing to export <strong><%= @export.expected_num_files %> files</strong>
        at a total size of <strong><%= number_to_human_size(@export.expected_payload_size, prefix: :si) %></strong>.
        Continue?
      </p>
      <%= submit_tag "Yes, Export", class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>

