<h1><%= t("rdr.batch_export.heading") %></h1>

<% if @confirmed %>

  <div class="media export-confirmed">
    <div class="media-left">
      <span class="fa fa-check-circle-o"></span>
    </div>
    <div class="media-body">
      <p><%= t("rdr.batch_export.in_process",
               email: export_package_ready_email_address(@email, current_user)).html_safe %></p>
    </div>
  </div>

  <div class='btn btn-link'>
    <%= link_to root_path do %>
      <br/>&laquo; <%= t("rdr.home_link")%>
    <% end %>
  </div>

<% else %>
  <%= form_tag controller: 'export_files', action: 'create' do %>
    <%= hidden_field_tag :email, @email %>
    <%= hidden_field_tag :basename, @export.basename %>
    <%= hidden_field_tag :confirmed, 1 %>
    <div>
      <p><%= t("rdr.batch_export.confirm.size_warning", num_files: @export.expected_num_files, total_size: number_to_human_size(@export.expected_payload_size, prefix: :si)).html_safe %></p>

      <%= submit_tag t("rdr.batch_export.confirm.submit"), class: "btn btn-primary",
             id: 'bulk_export_confirm',
             data: { label: params[:id] } %>
    </div>
  <% end %>

<% end %>
